@model BTAdventure.Models.Scene
@{
    ViewBag.Title = "CreateOrEditScene";
}

<h2>CreateOrEditScene</h2>
<hr />

<div class="row">
    <h3>Scene Name:</h3>
    <input placeholder="Scene Name Goes Here" value="@Model.SceneName" />
</div>

