
@{
    ViewBag.Title = "Choose";
}

<h2>Choose</h2>

<div class="row">
    @Html.ActionLink("Login", "Login", "Account", new { @class = "btn btn-outline-primary" })
    @Html.ActionLink("Register", "Register", "Account",  new { @class = "btn btn-outline-primary" })
</div>
