
@{
    ViewBag.Title = "Choose";
}

<h2>Choose</h2>

<button>
    @Html.ActionLink("Login", "Login", "Account", new { @class = "btn btn-outline-primary" })
</button>
<button>
    @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-outline-primary" })
</button>
This shall be where the choice between sign in and register go.
