@model IEnumerable<BTAdventure.Models.PlayerCharacter>
@{
    ViewBag.Title = "UserCommandCentre";
}

<h2>UserCommandCentre</h2>
@if (Model.Count() == 0)
{
    <div>OH BOY YOU RIGHT</div>

}
@if (Model.Count() > 0)
{
    foreach (var r in Model)
    {
        @Html.DropDownListFor(m => r.EventChoiceId,
                    Model.Select(i => new SelectListItem { Value = i.EventChoiceId.ToString(), Text = i.CharacterName.ToString() }),
                    new { @class = "form-control" })
    }
}

<div class="row">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Creator"))
    {
        @Html.ActionLink("Create Or Edit A Game", "NewOrEditGame", "Creator")
    }
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        //change this stuff VVVVVVVVVVVVVVVVVVVVVVVVVVV when admin page is created.
        @Html.ActionLink("Add Movie", "AddMovie", "Home")
    }
</div>