
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<hr />

@*<a href="NewOreditGame" class="btn btn-primary">Create New Game</a>*@
@Html.ActionLink("New Game", "NewOrEditGame", null, new { @class = "btn btn-primary" });
@Html.ActionLink("Edit Game", "EditGame", null, new { @class = "btn btn-primary" });
@*<a href="EditGame" class="btn btn-primary">Edit Game</a>*@