@model BTAdventure.UI.Models.PlayerGame
@{
    ViewBag.Title = "NewGame";
}

<h2>New Game</h2>
<div class="container-fluid wireframe">
    @using (Html.BeginForm("NewGame", "Gameplay", FormMethod.Post))
    {
        <div class="col-md-12">
            <label>New Character Name: </label>
            @Html.TextBoxFor(a => a.Character.CharacterName, new { @class = "form-control", @value = " ", required = "required" })
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(a => a.Game.GameTitle)
                @Html.DropDownListFor(a => a.SelectGameId, Model.GameList, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary float-right">Save</button>
        </div>

    }
</div>

