@model BTAdventure.Models.LoadGameData
@{
    ViewBag.Title = "Load Game";
}

<h1 class="text-center poiretFont">Load Game</h1>
<div class="row" style="text-align:center">
    <div class="col-md-6">
        @if (Model.PlayerCharacters.Count() == 0)
        {
            <div class="text-center poiretFont">Looks like you don't have any active games...</div>
            @Html.ActionLink("Start A New Game", "NewGame", "Gameplay", new { @class = "btn btn-outline-primary align-self-end" })
        }
        @using (Html.BeginForm("LoadGame", "Home", new
        {
            ReturnUrl = ViewBag.ReturnUrl
        }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            if (Model.PlayerCharacters.Count() > 0)
            {
                @Html.DropDownListFor(m => m.PlayerCharacters.First().CharacterId,
                              Model.PlayerCharacters.Select(i => new SelectListItem { Value = i.CharacterId.ToString(), Text = i.CharacterName.ToString() }),
                              new { @class = "form-control" })



                <div class="form-group">
                        <input type="submit" value="Load Game" class="btn btn-info" />
                    </div>
               
            }
        }
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Start A New Game", "NewGame", "Gameplay", new { id = Model.PlayerCharacters.First().PlayerId }, new { @class = "btn btn-outline-primary align-self-end" })
    </div>
</div>
