
@{
    ViewBag.Title = "MainMenu";
}

<h2>MainMenu</h2>
@Html.ActionLink("New Game", "NewGame", "Home", new { @class = "btn btn-outline-primary" })
@Html.ActionLink("Load Game", "LoadGame", "Home", new { @class = "btn btn-outline-primary" })
