
@{
    ViewBag.Title = "MainMenu";
}

<h2>MainMenu</h2>
@*@Html.ActionLink("New Game", "NewGame", "Gameplay", new { @class = "btn btn-outline-primary"})*@
<a href="/Gameplay/NewGame" class="btn btn-outline-primary"">New Game</a>
@Html.ActionLink("Load Game", "LoadGame", "Home", new { @class = "btn btn-outline-primary" })
