
@{
    ViewBag.Title = "Sharp Adventure Engine";
}

<div class="wireframe">
    <h1 class="goudyFont">Sharp Adventure Engine</h1>
    <hr />

    @Html.ActionLink("Sign In", "Login", "Account", null ,new { @class = "btn-outline-primary" })

</div>


